---
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="content">
    <div class="logo">
      <a href="/"> <img src="/logo/LogoWhite.svg" alt="logo" /></a>
    </div>
    <div class="sociale_links">
      <a href="https://www.facebook.com/barselonaband" target="_blank"><img src="/icons/linked.svg" alt="Facebook icon" /></a>
      <a href="https://www.instagram.com/barselona_officiel/?hl=da" target="_blank"> <img src="/iconer2/IconInstagram.svg" alt="Instagram icon" /></a>
      <a href="https://www.tiktok.com/@barselona_officiel" target="_blank"> <img src="/iconer2/IconTikTok.svg" alt="TikTok icon" /></a>
      <a href="https://open.spotify.com/artist/2wdsck730u8ZhDA7eVHw7m?si=3DAZsMWxTZ6tsM3FmmQ6GA&nd=1&dlsi=05d53ffe0bd648a3" target="_blank"> <img src="/iconer2/IconSpotify.svg" alt="Spotify icon" /></a>
      <a href="https://www.youtube.com/channel/UCr49KaBsStYVeuov4Qkjq-g" target="_blank"> <img src="/iconer2/IconYoutube.svg" alt="Youtube icon" /></a>
    </div>
    <div class="links">
      <a href="/9_kontakt">Kontakt</a>
      <a href="2_koncerter">Om mig</a>
    </div>
  </div>
  <hr />
</footer>

<style>
  @layer components {
    footer {
      background-color: var(--color_black);
      padding: 80px 36px;
      align-items: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-bottom: 64px;
      /* margin-top: 32px; */
    }
    .logo {
      max-width: 55px;
      height: auto;
    }
    .sociale_links {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
    }
    .sociale_links a {
      background-color: var(--sort);
      border-radius: 50px;
      width: 30px;
      height: auto;
      font-size: var(--font_size_medium);
    }
    .sociale_links a:hover {
      background-color: var(--color_blue);
    }
    .links {
      display: flex;
      gap: 32px;
      text-decoration: none;
    }
    .links a {
      font-weight: bold;
    }

    .links a:hover {
      text-decoration: none;
      color: var(--color_blue);
    }
    hr {
      width: 100%;
      color: var(--color_white);
    }

    .credits {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
      margin-top: 32px;
      flex-direction: column-reverse;
    }

    .footer_links {
      display: flex;
      gap: 24px;
    }

    .credits a {
      text-decoration: underline 1px;
    }

    .credits a:hover {
      color: var(--color_blue);
    }
  }
</style>
